* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F6FA !important;
}

h1 {
    color: #7EABD4;
}

.nav-item>a {
    color: #7EABD4;
}

.carousel img {
    height: 90vh;
}

section.header {
    margin-bottom: 0;
}

section {
    margin-bottom: 120px;
}

.text-about {
    margin-bottom: 40px;
}

.plan-imagens img {
    width: 100%;
    height: 20vh;
    padding: 40px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    background-color: #fff;
}

.card-general .card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.card-title {
    margin: 20px 0;
}

.card-general .card {
    margin: 10px;
}

.plan-descripton {
    text-align: left;
}

.plan-imagens {
    width: 100%;
}

.plan-descripton h1 {
    color: #4d555c;
    font-weight: 600;
}

.plan-descripton p {
    color: #4d555c;
    font-weight: 300;
    margin-top: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #7EABD4 !important;
    /* width: 12px !important; */
    /* height: 1vh !important; */
    /* border-radius: 50%; */
}

.carousel-indicators {
    top: 98%;
}

.plan .button-contact button {
    background-color: #2da947;
    padding: 15px 30px;
    font-weight: 600;
    border: none;
    margin-bottom: 20px;
}

.specialty-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.specialty-images img {
    width: 50%;
    border-radius: 50%;
    margin: 20px;
    filter: brightness(73%) contrast(100%) saturate(56%) blur(0px) hue-rotate(0deg);
    cursor: pointer;
}

.specialty-images img:hover {
    filter: none;

}

.specialty-images label {
    display: block;
}

.specialty-images label {
    color: #7EABD4;
}

@media only screen and (max-width: 768px) {
    #navbarNav .nav {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #000;
        margin-top: 10px;
    }

    section.header {
        margin-bottom: 0;
    }

    section {
        margin-bottom: 60px;
    }

    .text-about {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 1200px) {
    .plan-descripton {
        text-align: center;
    }
}